* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.country-list {
  list-style: none;
}

.item-country {
  display: flex;
  /* justify-content: center; */
  align-items: baseline;
}

.flag-box {
  padding-top: 30px;
}

.flag {
  width: 50px;
}

.info-box {
  margin-left: 16px;
  transform: translateY(-5px);
}

.title-name {
  margin: 0;
}

.info-text {
  margin: 0;
  padding: 4px 0;
  font-weight: 500;
}
